body {
    font-family: monospace;
}

/* section#chatStage {
    
} */

.hidden {
    display: none;
}

#chatbox div.textMessage {
    border: 1px solid black;
    border-radius: 5px;
}

#chatbox div.other {
    text-align: right;
}