:root {
    --alabaster: #d8e2dc;
    --powder: #ffe5d9;
    --pastelPink: #ffcad4;
    --cherry: #f4acb7;
    --dusty: #9d8189;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--powder);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--alabaster);
    font-size: 3rem;
    margin: 20px 0;
    text-shadow: 2px 2px var(--dusty);
}

form#formUsername {
    background: var(--alabaster);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    /* border */
}

input#username,
input#msg {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
}

input#username:focus,
input#msg:focus {
    border-color: var(--dusty);
}

div.game-container {
    display: flex;
    gap: 20px;
    max-width: 1000px;
    margin-top: 20px;
}

div.canvas-area {
    background: var(--alabaster);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0, 4px 15px rgba(0, 0, 0, 0.1);
}

canvas#paintCanvas {
    background-color: white;
    cursor: crosshair;
    border-radius: 10px;
    border: 2px solid #eee;
}

div.score-bar {
    margin-bottom: 10px;
    padding: 5px;
    background: #ECF1EE;
    border-radius: 8px;
}

div.chat-area {
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #FAD6DC;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

div#chatbox {
    height: 350px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 2px solid #f1f2f6;
}

.textMessage {
    background: var(--alabaster);
    padding: 10px;
    border-radius: 15px 15px 15px 2px;
    max-width: 80%;
    position: relative;
    font-size: 0.9rem;
}

.textMessage.other {
    align-self: flex-end;
    background: #B9A4AA;
    border-radius: 15px 15px 2px 15px;
}

.username {
    font-weight: bold;
    font-size: 0.7rem;
    margin-bottom: 3px;
    display: block;
}

time {
    font-size: 0.6rem;
    color: #888;
}

#formMessage {
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

#formMessage input[type="text"] {
    flex-grow: 1;
}

.hidden {
    display: none;
}